@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn-main {
  color: #fff;
  background-color: #2b2d3e;
}

.btn-light {
  color: #000;
  background-color: #f4f4f4;
}

.btn-dark {
  color: #fff;
  background-color: #333;
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  color: #fff;
  background-color: #343e59;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: #2b2d3e;
  display: block;
  margin: 0 auto 1rem auto;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 10000;
  text-transform: uppercase;
}

.bg-main {
  background: #2b2d3e;
  color: #fff;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #000;
}

.bg-medium {
  background: #ccc;
  color: #000;
}

a {
  text-decoration: none;
  color: white;
}

.card {
  background-color: #2b2d3e;
  padding: 25px 20px;
}

.card-light {
  background-color: #373a52;
  padding: 25px 20px;
}

body {
  background-color: #343e59;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.3;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: #2b2d3e;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  z-index: 5;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.logo .link-text {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ccc;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

.navbar:hover .logo svg {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  text-decoration: none;
  color: palevioletred;
  -webkit-filter: grayscale(100%) opacity(0.7);
          filter: grayscale(100%) opacity(0.7);
  -webkit-transition: 600ms;
  transition: 600ms;
}

.nav-item a.current {
  -webkit-filter: grayscale(0%) opacity(1);
          filter: grayscale(0%) opacity(1);
  background-color: #343e59;
}

.nav-link:hover {
  -webkit-filter: grayscale(0%) opacity(1);
          filter: grayscale(0%) opacity(1);
  background-color: #343e59;
}

.logo .nav-link:hover {
  background-color: #2b2d3e;
}

.link-text {
  display: none;
  margin-left: 1rem;
  color: #ccc;
}

.nav-link svg {
  margin: 0 1rem;
}

.navbar .nav-item .nav-link i {
  color: palevioletred;
  -webkit-transition: 600ms;
  transition: 600ms;
}

#news {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.5fr 1fr 1fr 1fr;
      grid-template-rows: 0.5fr 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

#news .section-a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#news .section-a .statewise {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.2rem 0;
}

#news .section-a .statewise .stats {
  font-size: 1.3rem;
}

#news .section-a .total {
  font-size: 1.3rem;
}

#news .section-b {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#news .section-c .tweets {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#news .section-d .newsgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  grid-gap: 1rem;
}

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .logo {
    display: none;
  }
  .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main {
    margin: 0;
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 20rem;
  }
  .navbar:hover .link-text {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */
