@import "config";
@import "utilities";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  background-color: $bg-color;
  color: set-text-color($bg-color);
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.3;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: $main-color;
  transition: all 200ms ease;
  z-index: 5;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.logo .link-text {
  font-weight: bold;
  text-transform: uppercase;
  // margin-bottom: 1rem;
  text-align: center;
  color: $medium-color;
  // background: $bg-color;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform 600ms;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

.nav-item {
  width: 100%;
}
.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  // color: $medium-color;
  text-decoration: none;
  color: palevioletred;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms;
}

.nav-item a.current {
  filter: grayscale(0%) opacity(1);
  background-color: $bg-color;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background-color: $bg-color;
}

.logo .nav-link:hover {
  background-color: $main-color;
}

.link-text {
  display: none;
  margin-left: 1rem;
  color: $medium-color;
}

.nav-link svg {
  margin: 0 1rem;
}

.navbar .nav-item .nav-link i {
  color: palevioletred;
  transition: 600ms;
}

#news {
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  .section {
    &-a {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 1.5rem;
      justify-content: center;
      align-items: center;

      .statewise {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        padding: 3.2rem 0;
        .stats {
          font-size: 1.3rem;
        }
      }
      .total {
        font-size: 1.3rem;
      }
    }
    &-b {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: 1fr;
    }
    &-c {
      .tweets {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// Mobile screen
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .logo {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }
  main {
    margin: 0;
  }
}

// Large screen
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 20rem;
  }

  .navbar:hover .link-text {
    display: block;
  }
}
