@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn-main {
  color: #fff;
  background-color: #2b2d3e;
}

.btn-light {
  color: #000;
  background-color: #f4f4f4;
}

.btn-dark {
  color: #fff;
  background-color: #333;
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  color: #fff;
  background-color: #343e59;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.info {
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
  background: #343e59;
  width: 70%;
  margin: auto;
}

.bottom-line {
  height: 4px;
  width: 8rem;
  background: palevioletred;
  display: block;
  margin: -1rem auto 0.5rem auto;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.bg-main {
  background: #2b2d3e;
  color: #fff;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #000;
}

.bg-medium {
  background: #ccc;
  color: #000;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
}

.card {
  background-color: #2b2d3e;
  padding: 25px 20px;
}

.card-light {
  background-color: #373a52;
  padding: 25px 20px;
}

.card-light2 {
  background-color: #343e59;
  padding: 25px 20px;
}

.data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  padding: 0.5rem;
}

.inc {
  display: inline-block;
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-left: 0.7rem;
}

.inc-death {
  background: #333;
  color: #fff;
}

.inc-recovery {
  background: seagreen;
  color: #fff;
}

.inc-active {
  background: tomato;
  color: #000;
}

.inc-confirm {
  background: turquoise;
  color: #000;
}

body {
  background-color: #343e59;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.3;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: #2b2d3e;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  z-index: 5;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.logo .link-text {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ccc;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

.navbar:hover .logo svg {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  text-decoration: none;
  color: palevioletred;
  -webkit-filter: grayscale(100%) opacity(0.7);
          filter: grayscale(100%) opacity(0.7);
  -webkit-transition: 600ms;
  transition: 600ms;
}

.nav-item a.current {
  -webkit-filter: grayscale(0%) opacity(1);
          filter: grayscale(0%) opacity(1);
  background-color: #343e59;
}

.nav-link:hover {
  -webkit-filter: grayscale(0%) opacity(1);
          filter: grayscale(0%) opacity(1);
  background-color: #343e59;
}

.logo .nav-link:hover {
  background-color: #2b2d3e;
}

.logo a.current {
  -webkit-filter: grayscale(0%) opacity(1);
          filter: grayscale(0%) opacity(1);
}

.link-text {
  display: none;
  margin-left: 1rem;
  color: #ccc;
}

.nav-link svg {
  margin: 0 1rem;
}

.navbar .nav-item .nav-link i {
  color: palevioletred;
  -webkit-transition: 600ms;
  transition: 600ms;
}

#news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}

#news .section-a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 2fr;
      grid-template-columns: 1.2fr 2fr;
  grid-gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#news .section-a .statewise {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.2rem 0;
}

#news .section-a .statewise .stats {
  font-size: 1.3rem;
}

#news .section-a .total {
  font-size: 1.3rem;
}

#news .section-b {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#news .section-c .tweets {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#news .section-d .newsgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  grid-gap: 1rem;
}

#dashboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1rem;
}

#dashboard .section-e {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#dashboard .section-e p {
  font-size: 1.3rem;
}

#dashboard .section-e h2 {
  font-size: 2rem;
}

#dashboard .section-a #polar {
  padding-top: 3rem;
}

#dashboard .section-a .grid1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#dashboard .section-a .sparkboxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 3rem;
}

#dashboard .section-a .box {
  background-color: #2b2d3e;
  padding: 25px 20px;
}

#dashboard .section-a .shadow {
  -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
          box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}

#dashboard .section-a .sparkboxes .box {
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 1px 1px #666;
  -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
          box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  position: relative;
  border-radius: 5px;
}

#dashboard .section-a .sparkboxes .box .details {
  position: absolute;
  color: #fff;
  -webkit-transform: scale(0.7) translate(-22px, 20px);
          transform: scale(0.7) translate(-22px, 20px);
}

#dashboard .section-a .sparkboxes h3 {
  position: relative;
  z-index: 3;
  color: #000;
}

#dashboard .section-a .sparkboxes .box1 {
  background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
}

#dashboard .section-a .sparkboxes .box2 {
  background-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%);
}

#dashboard .section-a .sparkboxes .box3 {
  background-image: linear-gradient(135deg, #fff5b9 10%, #e79b53 100%);
}

#loco {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1rem;
}

#loco .locogrid input .mr {
  margin-right: 3rem;
}

#loco .section-b .sparkboxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 3rem;
}

#loco .section-b .box {
  background-color: #2b2d3e;
  padding: 25px 20px;
}

#loco .section-b .shadow {
  -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
          box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}

#loco .section-b .sparkboxes .box {
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 1px 1px #666;
  -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
          box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  position: relative;
  border-radius: 5px;
}

#loco .section-b .sparkboxes .box .details {
  position: absolute;
  color: #fff;
  -webkit-transform: scale(0.7) translate(-22px, 20px);
          transform: scale(0.7) translate(-22px, 20px);
}

#loco .section-b .sparkboxes h3 {
  position: relative;
  z-index: 3;
  color: #000;
}

#loco .section-b .sparkboxes .box1 {
  background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
}

#loco .section-b .sparkboxes .box2 {
  background-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%);
}

#loco .section-b .sparkboxes .box3 {
  background-image: linear-gradient(135deg, #fff5b9 10%, #e79b53 100%);
}

#live {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1rem;
}

#live .section-b {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#live .section-b #polar-live {
  padding-top: 3rem;
}

#home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1rem;
}

#home .section-a #grid-one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .section-a #grid-one img {
  margin: auto;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

#home .section-a #grid-one img:hover {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

#home .section-a #grid-one h1 {
  font-size: 5rem;
}

#home .section-a #grid-one p {
  font-size: 1.3rem;
}

#home .section-b p {
  margin-bottom: 1.3rem;
}

#home .section-b #grid-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

#home .section-b #grid-two .card-light,
#home .section-b #grid-two .card-light h2 {
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

#home .section-b #grid-two .card-light:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 3px 3px palevioletred;
          box-shadow: 3px 3px palevioletred;
}

#home .section-b #grid-two .card-light:hover h2 {
  color: palevioletred;
}

#home .section-c, #home .section-g {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.8fr 1.2fr;
      grid-template-columns: 0.8fr 1.2fr;
  grid-gap: 1rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home .section-c h2, #home .section-g h2 {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}

#home .section-c p, #home .section-g p {
  font-size: 1.5rem;
}

#home .section-c img, #home .section-g img {
  margin: auto;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

#home .section-c img:hover, #home .section-g img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#home .section-d img, #home .section-e img {
  width: 200px;
  height: 200px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  margin-bottom: 1.2rem;
}

#home .section-d h2, #home .section-e h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

#home .section-d #grid-three, #home .section-e #grid-three {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 12rem;
}

#home .section-d #grid-three img:hover, #home .section-e #grid-three img:hover {
  -webkit-transform: scale(1.2) rotate(-20deg);
          transform: scale(1.2) rotate(-20deg);
}

#home .section-f img {
  width: 200px;
  height: 200px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  margin-bottom: 1.2rem;
}

#home .section-f h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

#home .section-f #grid-four {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home .section-f #grid-four img:hover {
  -webkit-transform: scale(1.2) rotate(-20deg);
          transform: scale(1.2) rotate(-20deg);
}

#home .section-h #team {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home .section-h #team img {
  width: 250px;
  border-radius: 50%;
}

#home .section-h #team a {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  margin: 0 1rem;
}

#home .section-h #team a:hover {
  color: palevioletred;
}

.cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.happy {
  background-image: url(https://img.icons8.com/color/96/000000/smiling.png);
}

.neutral {
  background-image: url(https://img.icons8.com/color/96/000000/neutral-emoticon--v1.png);
}

.sad {
  background-image: url(https://img.icons8.com/color/48/000000/sad--v1.png);
}

.cc-selector input:active + .feed {
  opacity: 0.9;
}

.cc-selector input:checked + .feed {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.emogrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.feed {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 120px;
  height: 90px;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7);
}

.feed:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}

.formgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 1.5rem;
  margin: 0 10rem;
}

.formgrid .mar {
  margin-right: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .WatsonAssistantChatHost {
    display: none;
  }
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .nav-item:last-child {
    display: none;
  }
  .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main {
    margin-left: 0;
    margin-bottom: 5rem;
  }
  .emogrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .emogrid #saddiv {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
  #dashboard {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #dashboard .section-e {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  #dashboard .section-e p {
    font-size: 1.3rem;
  }
  #dashboard .section-e h2 {
    font-size: 2rem;
  }
  #dashboard .section-a {
    width: 93vw;
  }
  #dashboard .section-a .grid1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #dashboard .section-a .grid1 #polar {
    display: none;
  }
  #dashboard .section-a .grid1 #pie {
    display: none;
  }
  #dashboard .section-a .grid1 #radial {
    display: none;
  }
  #dashboard .section-a .lead {
    text-align: center;
  }
  #dashboard .section-a .sparkboxes {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  #dashboard .section-b, #dashboard .section-c, #dashboard .section-d {
    width: 93vw;
  }
  #loco {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  #loco .locogrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 1rem;
  }
  #loco .locogrid input .mr {
    width: 80%;
    margin-right: 0;
  }
  #loco .section-b .sparkboxes {
    display: none;
  }
  #news {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }
  #news .section-a {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #news .section-a .statewise {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 3.2rem 0;
  }
  #news .section-a .statewise .stats {
    font-size: 1.3rem;
  }
  #news .section-a .total {
    font-size: 1.3rem;
  }
  #news .section-c .tweets {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  #news .section-c .tweets .tweet:last-child {
    display: none;
  }
  #news .section-d .newsgrid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #live {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #live .section-a {
    width: 84vw;
  }
  #live .section-b {
    width: 84vw;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  #live .section-b #radial-live div:first-child {
    width: 250;
  }
  #live .section-b #pie-live div:first-child {
    width: 250;
  }
  #live .section-b #polar-live {
    display: none;
  }
  #live .section-c {
    width: 84vw;
  }
  #feedback {
    width: 85vw;
  }
  #home .section-a #grid-one {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #home .section-a #grid-one img {
    width: 250px;
    height: 250px;
  }
  #home .section-a #grid-one img:hover {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  #home .section-a #grid-one h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  #home .section-a #grid-one p {
    font-size: 1.1rem;
  }
  #home .section-b #grid-two {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.7rem;
  }
  #home .section-c, #home .section-g {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #home .section-c h2, #home .section-g h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  #home .section-c p, #home .section-g p {
    font-size: 1.1rem;
  }
  #home .section-c img, #home .section-g img {
    width: 250px;
    height: 250px;
  }
  #home .section-c img:hover, #home .section-g img:hover {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  #home .section-d img, #home .section-e img {
    width: 200px;
    height: 200px;
  }
  #home .section-d h2, #home .section-e h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  #home .section-d #grid-three, #home .section-e #grid-three {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  #home .section-d #grid-three img:hover, #home .section-e #grid-three img:hover {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  #home .section-f img {
    width: 200px;
    height: 200px;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    margin-bottom: 1.2rem;
  }
  #home .section-f h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  #home .section-f #grid-four {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
  #home .section-f #grid-four img:hover {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  #home .section-h #team {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 20rem;
  }
  .navbar:hover .link-text {
    display: block;
  }
  #dashboard {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #dashboard .section-a .grid1 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #dashboard .section-a #polar {
    padding-top: 3rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
  #dashboard .section-a .lead {
    text-align: center;
  }
  #dashboard .section-a .sparkboxes {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  #dashboard .section-a .sparkboxes .box3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
  #loco {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  #loco .section-b .sparkboxes {
    display: none;
  }
  #news {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }
  #news .section-a {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #news .section-a .statewise {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3.2rem 0;
  }
  #news .section-a .statewise .stats {
    font-size: 1.3rem;
  }
  #news .section-a .total {
    font-size: 1.3rem;
  }
  #news .section-c .tweets {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
  }
  #news .section-c .tweets .tweet:last-child {
    display: none;
  }
  #news .section-d .newsgrid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 1001px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 20rem;
  }
  .navbar:hover .link-text {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */